body {
    background-color: blue($color: #000000);
    .title {
        text-align: center;
        color: white;
        background: black;
    }
    .img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 500px;
        height: 400px;
    }

    .info-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        .info-display {
            background-color: white;
            color: #0f0101;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 30px;
            height: 300px;
            width: 300px;
            margin: 10px;
        }
        .info-display-location {
            margin: 10px;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 30px;
            background-color: white;
            height: 300px;
            width: 300px;
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            /*.button{

margin: 10px;

}
*/

            .button {
                color:white;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                background:black;
               
                border: 2px solid black;
            
                transition: all 0.4s ease 0s;
                cursor: pointer;
                margin-bottom: 10px;
                padding: 10px;
                display: initial;
                flex: auto;
            }
            .button:hover {
                color: #f3ecec !important;
                background: rgb(235, 5, 5);
                border-color: #eb1606;
                transition: all 0.4s ease 0s;
            }
        }
    }
}
@media only screen and (max-width: 1000px) {
    body {
        background-color:white;
        .title {
            text-align: center;
            color: rgb(240, 234, 224);
            background: black;
        }
        .img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 162px;
            width: 200px;
            height: auto;
            z-index: -1;
        }

        .info-container {
            flex-direction: column;

            .info-display {
                order: 1;
            }
            .info-display-location {
                order: 1;
            }
            .buttons {
                padding: 5px;
                margin: 5px;
                margin-bottom: 162px;
                order: 0;
                width: auto;
                flex-direction: row;

                .button {
                    margin-bottom: 16px;
                    display: initial;
                    flex: auto;
                }

                .button:hover {
                    motion-rotation: reverse;
                    color:rgb(231, 6, 6) ;
                    background: #fbc531;
                    border-color: #fbc531;
                    transition: all 0.4s ease 0s;
                }
            }
        }
    }
}
